@import "tailwindcss";

@theme {
  --color-primary: #89273B;
  --color-primary-dark: #6e1e2f;
  --color-primary-light: #b03351;
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply antialiased text-gray-800 bg-white;
  }
}
